@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  src: url("../font/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  src: url("../font/Helvetica.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../font/Roboto-Regular.ttf");
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #a6adb4;
  font-weight: 400;
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica";
  color: #202124;
  font-weight: 700;
}

a {
  font-family: "Helvetica";
  text-decoration: none;
  display: block;
  outline: none;
  text-align: center;
  font-weight: 700;
}

a:hover {
  transition: 0.6s ease;
}

img {
  max-width: 100%;
}

.clear::after {
  display: block;
  content: "";
  clear: both;
}

.sec-inner {
  width: 98%;
  max-width: 1160px;
  margin: 0 auto;
}

.time {
  font-family: "Helvetica";
  display: inline-block;
  position: relative;
  padding-left: 25px;
  font-size: 13px;
}

.time::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/top/img_time.png") no-repeat center/contain;
}

.lg {
  display: block;
}

.md,
.sm {
  display: none;
}

main {
  background-color: #f6f8f9;
}

/* Sec Main
============= */
.sec-main {
  margin-top: 50px;
  background: url("../img/top/img_mv_bg_lg.png") no-repeat center/cover;
  padding: 100px 0 101px;
}

.sec-main .main-left {
  float: left;
  width: 560px;
}

.sec-main .sec-title {
  color: #fff;

  padding: 80px 0 32px;
  border-bottom: 2px solid #fff;
}

.main-left .main-left-content {
  padding-top: 42px;
}

.main-left-content h3 {
  color: #fff;
  font-size: 24px;
}

.main-left-content p {
  font-family: "Helvetica";
  color: #fff;
  padding-top: 5px;
  line-height: 1.6;
}

.main-left .sec-btn {
  margin-top: 24px;
}

.sec-main .main-right {
  width: 360px;
  float: right;
}

.main-right .sec-title {
  padding-top: 5px;
  color: #202124;
  border-bottom: 1px solid #a6adb4;
}

.main-right h3 {
  padding: 43px 0 17px;
  color: #fa6980;
  text-transform: uppercase;
}

.main-right .main-right-content p {
  font-size: 14px;
  line-height: 2;
  padding-bottom: 5px;
}

/* Trending Section
==================== */
.sec-trending {
  padding: 42px 0 40px;
}

.sec-trending .slider {
  width: 984px;
  margin: 0 auto;
  padding-top: 43px;
}

.sec-trending .trend-content {
  background-color: #fff;
  border-radius: 6px;
  width: 288px;
  margin-right: 60px;
}

.trend-content .trend-desc {
  padding: 30px 60px 40px 40px;
}

.trend-desc p {
  font-size: 12px;
  line-height: 1.5;
  padding-top: 2px;
  padding-bottom: 8px;
}

/* Happening Now Section
========================= */
.sec-happening {
  padding: 10px 0 100px;
}

.sec-happening .tabs {
  padding: 34px 0 7px;
  width: 341px;
  margin: 0 auto;
}

.sec-happening .tabs li {
  position: relative;
  font-family: "Helvetica";
  font-weight: 700;
  color: #202124;
  float: left;
  margin-right: 56px;
  cursor: pointer;
  transition: 0.6s ease;
}

.sec-happening .tabs li:last-child {
  margin-right: 0;
}

.sec-happening .tabs li.activeTab::before,
.sec-happening .tabs li:hover::before {
  position: absolute;
  bottom: -11px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: #fa6980;
  width: 64px;
  height: 4px;
  border-radius: 4px;
  transition: 0.6s ease;
}

.tab-content {
  display: none;
}

.tab-content.activeTab {
  display: inherit;
}

.tab-content-left {
  float: left;
  width: 65.5%;
  margin-right: 2%;
}

.tab-left-item,
.tab-right-item {
  padding-top: 41px;
}

.tab-left-item {
  position: relative;
}

.tab-content-left img {
  width: 100%;
}

.tab-left-desc {
  position: absolute;
  width: 673px;
  left: 40px;
  right: 0;
  bottom: 35px;
}

.tab-left-desc .sec-title {
  text-transform: none;
  color: #fff;
}

.tab-left-desc p {
  padding-top: 2px;
  color: #fff;
  padding-bottom: 10px;
  line-height: 1.6;
}

.tab-left-desc p span {
  display: inline-block;
}

.tab-content-right {
  float: right;
  width: 360px;
}

.tab-right-item img {
  width: 100%;
}

.tab-right-item h2 {
  padding: 23px 0 6px;
}

.tab-right-item .time .underline {
  display: inline-block;
  text-decoration: underline;
}

/*=====================
    Discovery Page
=======================*/

.disc-avatar img {
  float: left;
  width: 40px;
  height: 40px;
}

.disc-avatar .user-name {
  float: right;
  padding-left: 21px;
  font-weight: 700;
}

/* Discovery Main Section
========================= */
.disc-mv {
  margin-top: 50px;
  background: url("../img/discovery/img_disc_mv_bg.png") no-repeat center/cover;
  padding: 233px 0 47px;
}

.disc-mv h2 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.disc-mv-content {
  padding-top: 22px;
  width: 338px;
  margin: 0 auto;
}

.disc-mv-content p {
  font-family: "Helvetica";
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.disc-mv-content .content01,
.disc-mv-content .content02 {
  position: relative;
  padding-left: 26px;
}

.disc-mv-content .content01 {
  float: left;
}

.disc-mv-content .content02 {
  float: right;
}

.disc-mv-content .content01::before,
.disc-mv-content .content02::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.disc-mv-content .content01::before {
  background-image: url("../img/common/img_web.png");
}

.disc-mv-content .content02::before {
  background-image: url("../img/discovery/img_topic.png");
}

.disc-mv-bottom {
  padding-top: 121px;
}

.disc-mv-bottom .disc-avatar {
  padding-top: 68px;
  float: left;
}

.disc-mv-bottom .user-name {
  color: #fff;
  letter-spacing: 0.6px;
  padding-top: 13px;
}

.disc-mv-bottom-right {
  float: right;
  width: 360px;
  padding: 34px 28px;
  border: 2px dashed #fff;
  border-radius: 6px;
}

.disc-mv-bottom-right h3 a {
  text-align: left;
  color: #fa6980;
  text-transform: uppercase;
}

.disc-mv-bottom-right p {
  padding-top: 7px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.4px;
}

/* disc-sec02
=============== */
.disc-sec02 {
  padding: 100px 0 97px;
}

.disc-sec02-left {
  width: 330px;
  float: left;
}

.disc-sec02-left h2 {
  font-size: 32px;
  line-height: 1.4;
}

.disc-sec02-left-desc {
  padding-top: 20px;
}

.disc-sec02-left-desc p {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 1.86;
  padding-bottom: 26px;
}

.disc-sec02-right {
  width: 780px;
  float: right;
  border-left: 2px solid #ebeded;
  padding-left: 48px;
}

.dics-sec02-right-user {
  padding-bottom: 40px;
}

.dics-sec02-right-user:nth-child(1) .disc-avatar {
  width: 250px;
}

.dics-sec02-right-user:nth-child(2) .disc-avatar {
  width: 228px;
}

.dics-sec02-right-user .disc-avatar h2 {
  padding: 0;
  padding-top: 16px;
  text-transform: none;
}

.dics-sec02-right-user p {
  color: #202124;
  padding: 14px 0 15px;
  line-height: 1.84;
}

.ytb-video iframe {
  width: 730px;
  height: 300px;
  border-radius: 8px;
}

/*=====================
    World News Page
=======================*/
.news-mv {
  margin-top: 50px;
}

.news-mv .sec-title {
  padding: 46px 0 43px;
  font-size: 11px;
}

.news-mv-left {
  position: relative;
  float: left;
  width: 580px;
}

.news-mv-left-content {
  position: absolute;
  top: 51%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  text-align: center;
}

.news-mv-left-content h2 {
  padding-bottom: 10px;
  font-size: 32px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}

.news-mv-left-content h2::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  content: "";
  width: 40px;
  height: 2px;
  display: inline-block;
  background-color: #fa6980;
}

.news-mv-left-content p {
  font-family: "Helvetica";
  font-weight: 700;
  color: #fff;
  line-height: 1.6;
  padding-top: 20px;
  padding-bottom: 33px;
}

.news-mv-right {
  float: right;
  width: 470px;
  padding-top: 20px;
}

.news-mv-right h2 {
  width: 380px;
  padding-top: 6px;
  padding-bottom: 32px;
  border-bottom: 2px solid #ebeded;
  font-size: 24px;
  text-transform: uppercase;
}

.news-mv-right-content {
  padding-top: 43px;
}

.news-mv-right-content h3 {
  color: #fa6980;
  text-transform: uppercase;
}

.news-mv-right-content h4 {
  padding-top: 16px;
}

.news-mv-right-content p {
  font-size: 14px;
  line-height: 1.85;
  padding-bottom: 77px;
}

/* World News Sec02
===================== */
.news-sec02 {
  padding: 80px 0 102px;
}

.news-sec02-left {
  float: left;
  width: 360px;
}

.news-sec02-left h2 {
  font-size: 22px;
  line-height: 1.6;
  padding-top: 14px;
}

.news-sec02-right {
  float: right;
  width: 760px;
}

.news-sec02-right p {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 1.8;
}

/* World News Sec03
===================== */
.news-sec03-left {
  float: left;
  width: 760px;
}

.news-sec03-content {
  padding-top: 36px;
  padding-bottom: 32px;
  border-bottom: 2px solid #ebeded;
}

.news-sec03-content p {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 1.87;
}

.news-sec03-content p:nth-child(2) {
  padding-top: 25px;
}

.news-sec03-right {
  float: right;
  width: 360px;
}

.news-sec03-right h2 {
  line-height: 1.86;
}

/* World News Sec04
===================== */
.news-sec04 {
  padding: 40px 0 100px;
}

.news-sec04 .tabs li {
  float: left;
  color: #202124;
  font-family: "Helvetica";
  width: 234px;
  padding: 16px 0;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: 0.6s ease;
  background-color: #fff;
}

.news-sec04 .tabs li.activeTab,
.news-sec04 .tabs li:hover {
  background-color: #a6adb4;
  color: #fff;
  transition: 0.6s ease;
}

.news-sec04 .tab-content {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 15px;
}

.tab-content {
  display: none;
}

.tab-content.activeTab {
  display: inherit;
}

.news-sec04 .tab-content p {
  font-family: "Helvetica";
  padding-bottom: 29px;
  font-size: 14px;
  width: 1060px;
  margin: 0 auto;
  line-height: 1.8;
}

/* iPad View
=============== */
@media screen and (min-width: 768px) and (max-width: 1160px) {
  body {
    width: 100%;
    font-size: 2.083vw;
  }

  .sec-inner {
    width: 79.167vw;
  }

  .sec-title {
    font-size: 3.125vw;
  }

  .time {
    padding-left: 3.255vw;
    font-size: 1.693vw;
  }

  .time::before {
    width: 2.083vw;
    height: 2.083vw;
  }

  .lg {
    display: none;
  }

  .sm {
    display: none;
  }

  .md {
    display: block;
  }

  /* Sec Main
  ============= */
  .sec-main {
    margin-top: 6.51vw;
    background: url("../img/top/img_mv_bg_md.png") no-repeat center/cover;
    padding: 0.651vw 0 7.943vw;
  }

  .sec-main .main-left {
    float: none;
    width: 99.99%;
    padding-bottom: 7.813vw;
  }

  .sec-main .sec-title {
    padding: 10.156vw 0 3.646vw;
    border-bottom: 0.26vw solid #fff;
  }

  .main-left .main-left-content {
    padding-top: 5.208vw;
  }

  .main-left-content h3 {
    font-size: 3.125vw;
  }

  .main-left-content p {
    padding-top: 0.651vw;
  }

  .main-left .sec-btn {
    margin-top: 2.604vw;
  }

  .sec-main .main-right {
    padding-top: 8.594vw;
    width: 100%;
    float: none;
  }

  .main-right .sec-title {
    padding: 0 0 4.036vw 0;
    border-bottom: 0.13vw solid #a6adb4;
  }

  .main-right h3 {
    padding: 5.859vw 0 2.344vw;
  }

  .main-right .main-right-content p {
    font-size: 2.083vw;
    line-height: 1.6;
    padding-bottom: 2.865vw;
  }

  /* Trending Section
==================== */
  .sec-trending {
    padding: 8.333vw 0 5.208vw;
  }

  .sec-trending .slider {
    width: 42.578vw;
    padding-top: 4.427vw;
  }

  .sec-trending .trend-content {
    border-radius: 0.781vw;
    width: 42.578vw;
  }

  .sec-trending .trend-content img {
    width: 100%;
  }

  .trend-content .trend-desc {
    width: 37.63vw;
    padding: 4.427vw 3.125vw 4.427vw;
  }

  .trend-content .trend-desc h3 {
    font-size: 2.083vw;
  }

  .trend-desc p {
    font-size: 1.693vw;
    line-height: 1.5;
    padding-top: 0.781vw;
    padding-bottom: 1.302vw;
  }

  .trend-desc p .md {
    display: inline-block;
  }

  /* Happening Now Section
========================= */
  .sec-happening {
    padding: 2.604vw 0 10.286vw;
  }

  .sec-happening .tabs {
    padding: 4.557vw 0 0.911vw;
    width: 44.401vw;
  }

  .sec-happening .tabs li {
    margin-right: 7.292vw;
  }

  .sec-happening .tabs li.activeTab::before,
  .sec-happening .tabs li:hover::before {
    bottom: -1.432vw;
    width: 8.333vw;
    height: 0.521vw;
    border-radius: 0.521vw;
  }

  .tab-content-left {
    float: none;
    width: 100%;
  }

  .tab-left-item,
  .tab-right-item {
    padding-top: 5.339vw;
  }

  .tab-left-desc {
    width: 100%;
    left: 5.208vw;
    right: 0;
    bottom: 5.469vw;
  }

  .tab-left-desc p {
    padding-top: 0.781vw;
    padding-bottom: 1.302vw;
    line-height: 1.4;
  }

  .tab-content-right {
    width: 100%;
  }

  .tab-right-item img {
    width: 100%;
  }

  .tab-right-item h2 {
    padding: 2.995vw 0 0.781vw;
  }

  /*=====================
    Discovery Page
=======================*/
  .disc-avatar .avatar,
  .avatar {
    width: 5.208vw;
    height: 5.208vw;
  }

  .disc-avatar .user-name {
    padding-left: 2.734vw;
  }

  /* Discovery Main Section
========================= */
  .disc-mv {
    margin-top: 6.51vw;
    padding: 14.974vw 0 4.948vw;
  }

  .disc-mv h2 {
    font-size: 3.906vw;
  }

  .disc-mv-content {
    padding-top: 1.563vw;
    width: 41.146vw;
  }

  .disc-mv-content .content01,
  .disc-mv-content .content02 {
    padding-left: 3.385vw;
  }

  .disc-mv-content .content01::before,
  .disc-mv-content .content02::before {
    width: 2.083vw;
    height: 2.083vw;
  }

  .disc-mv-bottom {
    padding-top: 13.542vw;
  }

  .disc-mv-bottom .disc-avatar {
    padding-top: 5.729vw;
  }

  .disc-mv-bottom .user-name {
    letter-spacing: 0.078vw;
    padding-top: 1.693vw;
  }

  .disc-mv-bottom-right {
    width: 36.979vw;
    padding: 2.995vw 2.344vw 2.344vw;
    border-radius: 0.781vw;
  }

  .disc-mv-bottom-right p {
    padding-top: 1.042vw;
    letter-spacing: 0.052vw;
  }

  /* disc-sec02
=============== */
  .disc-sec02 {
    padding: 10.417vw 0 10.156vw;
  }

  .disc-sec02-left {
    width: 100%;
    float: none;
  }

  .disc-sec02-left h2 {
    font-size: 4.167vw;
  }

  .disc-sec02-left-desc {
    padding: 3.906vw 0 1.302vw;
  }

  .disc-sec02-left-desc p {
    font-size: 1.823vw;
    padding-bottom: 3.385vw;
  }

  .disc-sec02-right {
    width: 100%;
    float: none;
    border: none;
    border-top: 0.26vw solid #ebeded;
    padding-left: 0;
    padding-top: 5.078vw;
  }

  .dics-sec02-right-user {
    padding-bottom: 5.469vw;
  }

  .dics-sec02-right-user:nth-child(1) .disc-avatar {
    width: 32.552vw;
  }

  .dics-sec02-right-user:nth-child(2) .disc-avatar {
    width: 29.688vw;
  }

  .dics-sec02-right-user .disc-avatar h2 {
    padding-top: 1.302vw;
  }

  .dics-sec02-right-user p {
    padding: 2.344vw 0 3.255vw;
    line-height: 1.5;
  }

  .ytb-video iframe {
    width: 100%;
    height: 39.063vw;
    border-radius: 1.042vw;
  }

  /*=====================
    World News Page
=======================*/
  .news-mv {
    margin-top: 6.51vw;
    padding-bottom: 7.813vw;
  }

  .news-mv .sec-title {
    padding: 4.688vw 0 4.297vw;
    font-size: 1.432vw;
  }

  .news-mv-left {
    float: none;
    width: 79.167vw;
  }

  .news-mv-left .md {
    width: 100%;
  }

  .news-mv-left-content {
    width: 58.073vw;
  }

  .news-mv-left-content h2 {
    padding-bottom: 1.302vw;
    font-size: 4.167vw;
  }

  .news-mv-left-content h2::after {
    width: 5.208vw;
    height: 0.26vw;
  }

  .news-mv-left-content p {
    line-height: 1.6;
    padding-top: 2.604vw;
    padding-bottom: 4.297vw;
  }

  .news-mv-right {
    float: none;
    width: 100%;
    padding-top: 5.078vw;
  }

  .news-mv-right h2 {
    width: 100%;
    padding-top: 0.781vw;
    padding-bottom: 4.167vw;
    border-bottom: 0.26vw solid #ebeded;
    font-size: 3.125vw;
  }

  .news-mv-right-content {
    padding-top: 5.599vw;
  }

  .news-mv-right-content h4 {
    padding-top: 1.302vw;
  }

  .news-mv-right-content p {
    font-size: 1.823vw;
    line-height: 1.85;
    padding-bottom: 3.516vw;
  }

  /* World News Sec02
===================== */
  .news-sec02 {
    padding: 7.943vw 0 7.682vw;
  }

  .news-sec02-left {
    float: none;
    width: 100%;
  }

  .news-sec02-left h2 {
    font-size: 3.125vw;
    line-height: 1.6;
    padding-top: 1.823vw;
  }

  .news-sec02-right {
    float: none;
    width: 100%;
  }

  .news-sec02-right p {
    padding-top: 3.255vw;
    font-size: 1.823vw;
    line-height: 1.85;
  }

  /* World News Sec03
===================== */
  .news-sec03 .md {
    width: 79.167vw;
  }

  .news-sec03-left {
    float: none;
    width: 100%;
  }

  .news-sec03-content {
    padding-top: 4.688vw;
    padding-bottom: 4.167vw;
    border-bottom: 0.26vw solid #ebeded;
  }

  .news-sec03-content p {
    font-size: 1.823vw;
    line-height: 1.87;
  }

  .news-sec03-content p:nth-child(2) {
    padding-top: 3.255vw;
  }

  .news-sec03-right {
    float: none;
    width: 100%;
  }

  .news-sec03-right h2 {
    padding-top: 4.167vw;
    line-height: 1.86;
  }

  /* World News Sec04
===================== */
  .news-sec04 {
    padding: 7.552vw 0 10.417vw;
  }

  .news-sec04 .tabs li {
    width: 26.389vw;
    padding: 2.344vw 0;
    font-size: 1.823vw;
  }

  .news-sec04 .tab-content {
    padding-top: 3.776vw;
    padding-bottom: 0vw;
  }

  .news-sec04 .tab-content p {
    padding-bottom: 3.776vw;
    font-size: 1.823vw;
    width: 71.354vw;
    line-height: 1.8;
  }
}

/* Mobile view
=============== */
@media screen and (max-width: 767.9px) {
  body {
    width: 100%;
    font-size: 2.5vw;
  }

  .sec-inner {
    width: 90.625vw;
  }

  .sec-title {
    font-size: 3.75vw;
  }

  .time {
    padding-left: 3.906vw;
    font-size: 2.031vw;
  }

  .time::before {
    width: 2.5vw;
    height: 2.5vw;
  }

  .lg {
    display: none;
  }

  .md {
    display: none;
  }

  .sm {
    display: block;
  }

  /* Sec Main
  ============= */
  .sec-main {
    margin-top: 7.813vw;
    background: url("../img/top/img_mv_bg_sm.png") no-repeat center/cover;
    padding: 0.781vw 0 9.531vw;
  }

  .sec-main .main-left {
    float: none;
    width: 99.99%;
    padding-bottom: 9.375vw;
    z-index: 99;
  }

  .sec-main .sec-title {
    padding: 5.938vw 0 5vw;
    border-bottom: 0.313vw solid #fff;
  }

  .main-left .main-left-content {
    padding-top: 6.719vw;
  }

  .main-left-content h3 {
    font-size: 3.75vw;
  }

  .main-left-content p {
    padding-top: 4.688vw;
  }

  .main-left .sec-btn {
    margin-top: 5.313vw;
  }

  .sec-main .main-right {
    padding-top: 7.5vw;
    width: 100%;
    float: none;
  }

  .main-right .sec-title {
    padding: 0 0 4.844vw 0;
    border-bottom: 0.156vw solid #a6adb4;
  }

  .main-right h3 {
    padding: 7.031vw 0 2.813vw;
  }

  .main-right .main-right-content p {
    font-size: 2.5vw;
    line-height: 1.6;
    padding-bottom: 3.438vw;
  }

  /* Trending Section
==================== */
  .sec-trending {
    padding: 6.875vw 0 6.25vw;
  }

  .sec-trending .slider {
    width: 51.094vw;
    padding-top: 5vw;
  }

  .sec-trending .trend-content {
    border-radius: 0.938vw;
    width: 51.094vw;
  }

  .sec-trending .trend-content img {
    width: 100%;
  }

  .trend-content .trend-desc {
    width: 45.156vw;
    padding: 5.313vw 3.75vw 5.313vw;
  }

  .trend-content .trend-desc h3 {
    font-size: 2.5vw;
  }

  .trend-desc p {
    font-size: 2.031vw;
    line-height: 1.5;
    padding-top: 0.938vw;
    padding-bottom: 1.563vw;
  }

  .trend-desc p .md {
    display: inline-block;
  }

  /* Happening Now Section
========================= */
  .sec-happening {
    padding: 3.125vw 0 12.344vw;
  }

  .sec-happening .tabs {
    padding: 5.469vw 0 1.094vw;
    width: 55.313vw;
  }

  .sec-happening .tabs li {
    font-size: 2.813vw;
    margin-right: 7.5vw;
  }

  .sec-happening .tabs li.activeTab::before,
  .sec-happening .tabs li:hover::before {
    bottom: -1.719vw;
    width: 10vw;
    height: 0.625vw;
    border-radius: 0.625vw;
  }

  .tab-content-left {
    float: none;
    width: 100%;
  }

  .tab-left-item,
  .tab-right-item {
    padding-top: 6.406vw;
  }

  .tab-left-desc {
    width: 73.594vw;
    left: 6.25vw;
    right: 0;
    bottom: 6.563vw;
  }

  .tab-left-desc p {
    padding-top: 0.938vw;
    padding-bottom: 1.563vw;
    line-height: 1.4;
  }

  .tab-left-desc p span {
    display: none;
  }

  .tab-content-right {
    width: 100%;
  }

  .tab-right-item img {
    width: 100%;
  }

  .tab-right-item h2 {
    padding: 3.594vw 0 0.938vw;
  }

  /*=====================
    Discovery Page
=======================*/
  .disc-avatar .avatar,
  .avatar {
    width: 6.25vw;
    height: 6.25vw;
  }

  .disc-avatar .user-name {
    padding-left: 3.281vw;
  }

  /* Discovery Main Section
========================= */
  .disc-mv {
    margin-top: 7.813vw;
    padding: 22.656vw 0 2.813vw;
  }

  .disc-mv h2 {
    font-size: 4.531vw;
  }

  .disc-mv-content {
    padding-top: 2.813vw;
    width: 49.375vw;
  }

  .disc-mv-content .content01,
  .disc-mv-content .content02 {
    padding-left: 4.063vw;
  }

  .disc-mv-content .content01::before,
  .disc-mv-content .content02::before {
    width: 2.5vw;
    height: 2.5vw;
  }

  .disc-mv-bottom {
    padding-top: 12.031vw;
  }

  .disc-mv-bottom .disc-avatar {
    padding-top: 6.875vw;
  }

  .disc-mv-bottom .user-name {
    letter-spacing: 0.094vw;
    padding-top: 2.031vw;
  }

  .disc-mv-bottom-right {
    width: 44.375vw;
    padding: 3.594vw 2.813vw 2.813vw;
    border-radius: 0.938vw;
  }

  .disc-mv-bottom-right p {
    padding-top: 1.25vw;
    letter-spacing: 0.063vw;
  }

  /* disc-sec02
=============== */
  .disc-sec02 {
    padding: 6.406vw 0 11.719vw;
  }

  .disc-sec02-left {
    width: 100%;
    float: none;
  }

  .disc-sec02-left h2 {
    font-size: 5vw;
  }

  .disc-sec02-left-desc {
    padding: 4.688vw 0 2.813vw;
  }

  .disc-sec02-left-desc p {
    font-size: 2.188vw;
    padding-bottom: 4.063vw;
  }

  .disc-sec02-right {
    width: 100%;
    float: none;
    border: none;
    border-top: 0.313vw solid #ebeded;
    padding-left: 0;
    padding-top: 7.5vw;
  }

  .dics-sec02-right-user {
    padding-bottom: 6.563vw;
  }

  .dics-sec02-right-user:nth-child(1) .disc-avatar {
    width: 39.063vw;
  }

  .dics-sec02-right-user:nth-child(2) .disc-avatar {
    width: 35.625vw;
  }

  .dics-sec02-right-user .disc-avatar h2 {
    padding-top: 1.563vw;
  }

  .dics-sec02-right-user p {
    padding: 2.813vw 0 3.906vw;
    line-height: 1.5;
  }

  .ytb-video iframe {
    width: 100%;
    height: 46.875vw;
    border-radius: 1.25vw;
  }

  /*=====================
    World News Page
=======================*/
  .news-mv {
    margin-top: 7.813vw;
    padding-bottom: 9.375vw;
  }

  .news-mv .sec-title {
    padding: 5.156vw 0 5.313vw;
    font-size: 2.031vw;
  }

  .news-mv-left {
    float: none;
    width: 90.625vw;
  }

  .news-mv-left .sm {
    width: 100%;
  }

  .news-mv-left-content {
    width: 49.688vw;
  }

  .news-mv-left-content h2 {
    padding-bottom: 1.563vw;
    font-size: 5vw;
  }

  .news-mv-left-content h2::after {
    width: 6.25vw;
    height: 0.313vw;
  }

  .news-mv-left-content p {
    line-height: 1.6;
    padding-top: 3.125vw;
    padding-bottom: 5.156vw;
  }

  .news-mv-right {
    float: none;
    width: 100%;
    padding-top: 6.094vw;
  }

  .news-mv-right h2 {
    width: 100%;
    padding-top: 0.938vw;
    padding-bottom: 5vw;
    border-bottom: 0.313vw solid #ebeded;
    font-size: 3.75vw;
  }

  .news-mv-right-content {
    padding-top: 6.719vw;
  }

  .news-mv-right-content h4 {
    padding-top: 1.563vw;
  }

  .news-mv-right-content p {
    font-size: 2.188vw;
    line-height: 1.4;
    padding-top: 0.625vw;
    padding-bottom: 7.5vw;
  }

  /* World News Sec02
===================== */
  .news-sec02 {
    padding: 9.688vw 0 7.656vw;
  }

  .news-sec02-left {
    float: none;
    width: 100%;
  }

  .news-sec02-left h2 {
    font-size: 3.75vw;
    line-height: 1.6;
    padding-top: 2.188vw;
  }

  .news-sec02-right {
    float: none;
    width: 100%;
  }

  .news-sec02-right p {
    padding-top: 3.594vw;
    font-size: 2.188vw;
    line-height: 1.85;
  }

  /* World News Sec03
===================== */
  .news-sec03 .sm {
    width: 90.625vw;
  }

  .news-sec03-left {
    float: none;
    width: 100%;
  }

  .news-sec03-content {
    padding-top: 5.625vw;
    padding-bottom: 5vw;
    border-bottom: 0.313vw solid #ebeded;
  }

  .news-sec03-content p {
    font-size: 2.188vw;
    line-height: 1.87;
  }

  .news-sec03-content p:nth-child(2) {
    padding-top: 3.906vw;
  }

  .news-sec03-right {
    float: none;
    width: 100%;
  }

  .news-sec03-right h2 {
    padding-top: 5vw;
    line-height: 1.86;
  }

  /* World News Sec04
===================== */
  .news-sec04 {
    padding: 9.063vw 0 12.344vw;
  }

  .news-sec04 .tabs li {
    width: 30.208vw;
    padding: 2.813vw 0;
    font-size: 2.188vw;
  }

  .news-sec04 .tab-content {
    padding-top: 4.531vw;
    padding-bottom: 0vw;
  }

  .news-sec04 .tab-content p {
    padding-bottom: 4.531vw;
    font-size: 2.188vw;
    width: 81.25vw;
    line-height: 1.8;
  }
}
